<ScrollView>
    <DockLayout backgroundColor="#000000">
        <StackLayout>
            <FlexboxLayout class="barraNavegacion2">
                <FlexboxLayout class="InfoUser2">
                <label class="fas" id="flecha_devolver" text="&#xf053;" (tap)="onTap()"></label>
                <label class="Nunito text-medium">Detalles reserva</label>
                </FlexboxLayout>
            </FlexboxLayout>

            <FlexboxLayout class="blockEvento" flexDirection="column">
                <GridLayout rows="auto, auto">
                    <Image src="{{evento.foto}}" row="0" borderRadius="15" height="200" width="100%" stretch="fill"></Image>
                </GridLayout>
                <FlexboxLayout class="Info_Evento" flexDirection="column">
                    <label class="Cabin" [text]="evento.nombre" fontSize="20" whiteSpace="normal"></label>
                    <FlexboxLayout>
                        <label class="far" id="calendario" text="&#xf133;"></label>
                        <label class="Cabin fecha" text="{{evento.fecha}} a las {{evento.hora_incio}} pm"></label>
                    </FlexboxLayout>

                    <FlexboxLayout flexDirection="column" height="auto" alignItems="center">
                        <label class="Cabin" marginTop="20" fontSize="14" whiteSpace="normal" text="Fecha de compra: {{reserva.fecha_compra}}"></label>
                        <FlexboxLayout class="contenedor-mesa">
                            <FlexboxLayout class="mesa">
                                <label class="Cabin" whiteSpace="normal" text="{{mesa}}"></label>
                                <label class="Cabin" text="(x{{capacidadMesa}} personas)"   ></label>
                            </FlexboxLayout>
                        </FlexboxLayout>
                        <label class="Cabin" fontSize="18" marginTop="15" marginBottom="20" [text]="'Total de la compra: $' + formatCurrency(reserva?.total || 0)"></label>
                        
                        <label *ngIf="evento.estado" class="butonlabelmorado Cabin" text="Ver código QR" (tap)="onQr(reserva.qr_imagen)"></label>
                    </FlexboxLayout>

                    <FlexboxLayout class="rayaIntermedia2"></FlexboxLayout>
                    <FlexboxLayout *ngIf="evento.estado" class="contenedor-info">
                        <label class="Cabin subtitulo" text="Instrucciones de llegada"></label>
                        <label class="Cabin text-info" whiteSpace="normal" marginBottom="10" text="Al llegar, ¡No hagas fila!, puedes presentar el código QR en la entrada para acceder a tu mesa."></label>
                        <FlexboxLayout class="rayaIntermedia2"></FlexboxLayout>
                        <label class="Cabin subtitulo" text="Recomendaciones para la Noche"></label>
                        <label class="Cabin text-info" whiteSpace="normal" marginBottom="10" text="No olvides revisar el menú, disponible directamente desde tu mesa escaneando el código QR."></label>
                        <FlexboxLayout class="rayaIntermedia2"></FlexboxLayout>
                        <label class="Cabin subtitulo" text="Política de Cancelación o Cambio"></label>
                        <label class="Cabin text-info" whiteSpace="normal" marginBottom="10" text="Si necesitas cancelar o modificar tu reserva, no dudes en contactarnos al (+57) 305 277 7073 o (+57) 321 123 4567 o por correo electrónico a reservasoasis@gmail.com. Si vas a cancelar una reserva faltando menos de 24 horas, es posible que no haya rembolso."></label>
                        <FlexboxLayout class="rayaIntermedia2"></FlexboxLayout>
                        <label class="Cabin subtitulo" text="Recordatorio de Seguridad"></label>
                        <label class="Cabin text-info" whiteSpace="normal" marginBottom="10" text="Por tu seguridad y la de los demás asistentes, por favor respeta la capacidad máxima de la mesa, que es de 8 personas. Mantén tus pertenencias personales en un lugar seguro durante el evento."></label>
                        <FlexboxLayout class="rayaIntermedia2"></FlexboxLayout>
                        <label class="Cabin subtitulo" text="Contacto"></label>
                        <label class="Cabin text-info" whiteSpace="normal" marginBottom="20" text="Si tienes alguna duda o inconveniente con tu reserva, no dudes en contactarnos al (+57) 305 277 7073 o (+57) 321 123 4567 o por correo electrónico a reservasoasis@gmail.com. Estamos aquí para ayudarte."></label>
                    </FlexboxLayout>

                    <FlexboxLayout *ngIf="!evento.estado" class="contenedor-info">
                        <label class="Cabin subtitulo" text="Este evento ha sido cancelado"></label>
                        <FlexboxLayout display="flex" flexDirection="column">
                            <Label class="Cabin text-info" whiteSpace="normal" marginBottom="10" text="Por favor, comunicate lo antes posible a este WhatsApp para continuar con el proceso de devolución del dinero: "></Label>
                            <Label class="Cabin text-info link" whiteSpace="normal" text="https://wa.me/573052777053" (tap)="abrirWhatsApp()"></Label>
                            <Label class="Cabin text-info" whiteSpace="normal" marginBottom="20" text="Tenemos 5 días hábiles para darte respuesta."></Label>
                        </FlexboxLayout>
                    </FlexboxLayout>
                </FlexboxLayout> 
            </FlexboxLayout>
        </StackLayout>
    </DockLayout>
</ScrollView>