<StackLayout class="modal Cabin">
    <label class="modal-title" text="Código QR"></label>
    <FlexboxLayout class="rayaIntermedia2"></FlexboxLayout>
    <FlexboxLayout display="flex" flexDirection="column" alignItems="center" justifyContent="center" width="100%" marginTop="10">
        <Image src="{{fotoQr}}" row="0" borderRadius="10" height="200" width="80%" stretch="fill"></Image>
        <label text="- El código QR que aparece aquí será enviado a tu correo electrónico. Este código es necesario para ingresar al evento." marginTop="10" textWrap="true"></label>
    </FlexboxLayout>

    <FlexboxLayout class="rayaIntermedia2" marginTop="10"></FlexboxLayout>
    <FlexboxLayout justifyContent="center" marginTop="10">
        <Button text="Ok" (tap)="confirmar()" class="btn-confirmar" width="70%"></Button>
    </FlexboxLayout>
  </StackLayout>