<DockLayout backgroundColor="#000000">
  <StackLayout>
    <FlexboxLayout class="barraNavegacion2">
      <FlexboxLayout class="InfoUser2">
        <label class="fas" id="flecha_devolver" text="&#xf053;" (tap)="onTap()"></label>
        <label class="Nunito text-medium">Regresar</label>
      </FlexboxLayout>
    </FlexboxLayout>

    <DockLayout stretchLastChild="true" padding="10" backgroundColor="black">
      <Label text="" dock="left" width="40"></Label>
      <Label text="" dock="top" height="40"></Label>
      <Label text="" dock="right" width="40"></Label>
      <Label text="" dock="bottom" height="40"></Label>
      <FlexboxLayout>
        <FlexboxLayout class="contenedor">
          <FlexboxLayout class="card">
            <FlexboxLayout class="card-imagen">
              <Image class="foto" [src]="foto"></Image>
            </FlexboxLayout>
            <FlexboxLayout class="card-body">
              <FlexboxLayout class="contenido">
                <StackLayout class="input-field" marginBottom="30">
                  <TextField [(ngModel)]="nombre" hint="Nombre"></TextField>
                </StackLayout>
                <StackLayout class="input-field" marginBottom="30">
                  <TextField [(ngModel)]="email" hint="Correo electrónico"></TextField>
                </StackLayout>
              </FlexboxLayout>
            </FlexboxLayout>
          </FlexboxLayout>
        </FlexboxLayout>
      </FlexboxLayout>
    </DockLayout>
  </StackLayout>
</DockLayout>

<FlexboxLayout class="botones">
  <Button class="butonlabelrosa" text="Editar perfil" (tap)="actualizarPerfil()" pageTransition="slide" clearHistory="true" backgroundColor="#FC4664"></Button>
</FlexboxLayout>