<ScrollView>
  <DockLayout backgroundColor="#000000">
    <StackLayout>
        <FlexboxLayout class="barraNavegacion2">
            <FlexboxLayout class="InfoUser2">
            <label class="fas" id="flecha_devolver" text="&#xf053;" (tap)="onTap()"></label>
            <label class="Nunito text-medium">Perfil</label>
            </FlexboxLayout>
        </FlexboxLayout>
  
        <DockLayout stretchLastChild="true" padding="10" backgroundColor="black">
          <FlexboxLayout class="contenedor-perfil">
            <FlexboxLayout class="card">
              <Image class="foto" [src]="foto" width="200" height="200" stretch="fill"></Image>
              <FlexboxLayout class="card-body" margin="0">
                <FlexboxLayout class="contenido">
                  <label class="Cabin text-medium" [text]="nombre"></label>
                  <label class="Cabin text-small" [text]="rolNombre"></label>
                  <label class="Cabin" fontSize="16" marginTop="10" [text]="email"></label>
                  <label class="Cabin" fontSize="16" marginTop="10" [text]=""></label>
                </FlexboxLayout>
              </FlexboxLayout>
              <label class="butonlabelmoradoSinMargin Cabin" marginBottom="20" text="Ver entradas" [nsRouterLink]="['entradas']"></label>
              <label class="butonlabelmoradoSinMargin Cabin" marginBottom="20" text="Ver reservas" [nsRouterLink]="['reservas']"></label>
              <label class="butonlabelmoradoSinMargin Cabin" marginBottom="20" text="Ver pedidos"></label>
            </FlexboxLayout>             
          </FlexboxLayout>         
        </DockLayout> 
    </StackLayout>
  </DockLayout>
</ScrollView>


