.contenedor-perfil{
    display: flexbox;
    flex-direction: column;
    padding-left: 20;
    padding-right: 20;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#262626;
    padding: 20;
    width: 100%;
    border-radius: 10;
}


.foto{
    border-radius:200%; 
    margin-left: 5;
    margin-right: 5;
    margin-top: 5;

}

.botones{
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-top: 138%;
}

.contenido{
    flex-direction: column;
    align-items: center;
    margin-top: 10;
}

.fas{
    margin-top: 6%;
}

.butonlabelrosa{
    margin-top: 13%;
    margin-left: 12%;
    margin-right: 12%;
}
