.bloqueDescripcion{
    padding: 10;
    background-color: rgb(78, 78, 78);
    margin-left: 20;
    margin-right: 20;
    border-radius: 20;
    margin-bottom: 15;
}

.cardProductos{
    margin-left: 5;
    width: 45%;
    height: 240;
    background-color: #262626;
    border-radius: 25%;
    margin-top: 10;
}

.cardProductos Image{
    stretch: fill;
    height: 170;
    border-radius: 25%;
}



.cardProductos .nombre{
    color: white;
    text-align: center;
    margin-top: 2%;
    font-size: 16;
    padding-left: 5;
    padding-right: 5;
}

.cardProductos .precio{
    color: white;
    text-align: center;
}