<ScrollView>
  <DockLayout backgroundColor="#000000">
    <StackLayout>
      <FlexboxLayout class="barraNavegacion">
        <FlexboxLayout class="InfoUser">
          <Image [nsRouterLink]="['/perfil']" [src]="foto" class="img_user"></Image>
          <FlexboxLayout flexDirection="column" justifyContent="center" style="margin-left: 30px;">
            <label class="Cabin" style="font-size: 18px;" [text]="nombre"></label>
          </FlexboxLayout>
        </FlexboxLayout>
        <FlexboxLayour>
          <Image src="~/app/images/salida.png" (tap)="cerrarSesion()"></Image>
        </FlexboxLayour>
      </FlexboxLayout>



      <StackLayout *ngIf="rol == 4">
        <FlexboxLayout class="blockImages" flexDirection="column">
          <Image class="logoOasis" src="~/app/images/logoOasisBlanco.png" width="150"></Image>
          <Image src="~/app/images/licores.jpg"></Image>
          <label class="butonlabelrosa Cabin" (tap)="onQrMesa()" text="Realizar pedido"></label>
        </FlexboxLayout>

        <FlexboxLayout class="blockImages" flexDirection="column">
          <Image src="~/app/images/halloween.jpg"></Image>
          <label class="butonlabelmorado Cabin" (tap)="onReserva()" text="Ver Próximos Eventos"></label>
        </FlexboxLayout>
      </StackLayout>

      <StackLayout *ngIf="rol == 3">
        <FlexboxLayout class="blockImages" flexDirection="column">
          <Image src="~/app/images/tomar-pedido.jpg"></Image>
          <label class="butonlabelrosa Cabin" (tap)="onQrMesa()" text="Tomar pedido"></label>
        </FlexboxLayout>

        <FlexboxLayout class="blockImages" flexDirection="column">
          <Image src="~/app/images/gestion-mesas.jpg"></Image>
          <label class="butonlabelmorado Cabin" (tap)="onGestionarMesas()" text="Gestionar Mesas"></label>
        </FlexboxLayout>

        <FlexboxLayout class="blockImages" flexDirection="column" marginBottom="20">
          <Image src="~/app/images/escanear-mesero.jpg"></Image>
          <label class="butonlabelazul Cabin" (tap)="onEscanearQr()" text="Escanear Entradas"></label>
        </FlexboxLayout>
      </StackLayout>


      <StackLayout *ngIf="rol == 4">
        <Label class="texto_centrado" text="¡Nuestro Menú!"></Label>
        <FlexboxLayout class="blockProductos" flexDirection="column">
          <ScrollView orientation="horizontal">
            <FlexboxLayout class="blockCategorias">
              <label *ngFor="let c of categorias" class="butonlabelgris Cabin" marginLeft="10" (tap)="onCategoria(c.id)" text="{{c.nombre}}"></label>
            </FlexboxLayout>
          </ScrollView>
          <ScrollView orientation="horizontal">
            <FlexboxLayout>
              <FlexboxLayout class="cardProductos" flexDirection="column" (tap)="onModalProductos(p)" *ngFor="let p of productos.slice(0, 8)">
                <Image src="{{p.foto}}"></Image>
                <label class="Cabin" padding="5" text="{{p.nombre}}"></label>
              </FlexboxLayout>
            </FlexboxLayout>
          </ScrollView>
        </FlexboxLayout>
        <FlexboxLayout class="blockBoton">
          <label class="butonlabelmorado Cabin" (tap)="onProductos()" text="Ver menú"></label>
        </FlexboxLayout>

        <FlexboxLayout class="rayaIntermedia"></FlexboxLayout>

        <Label class="texto_centrado" text="Galería"></Label>
        <ScrollView orientation="horizontal">
          <FlexboxLayout class="blockGaleria">
            <FlexboxLayout class="cardGaleria" flexDirection="column" (tap)="onCarpeta(g.id)" *ngFor="let g of galeriaCarpetas">
              <Image src="{{g.foto}}"></Image>
              <label class="Cabin titulo" text="{{g.nombre}}"></label>
              <label class="Cabin fecha" text="{{g.fecha}}"></label>
            </FlexboxLayout>
          </FlexboxLayout>
        </ScrollView>

        <FlexboxLayout class="blockInfo" flexDirection="column">
          <Label class="Text-Info Cabin" text="Nuestra ubicación"></Label>
            <FlexboxLayout class="cardInfo" flexDirection="column">
              <Image src="~/app/images/ubicacion.png"></Image>
              <label class="butonlabelmorado Cabin" text="📍 Ir" (tap)="mostrarMapa()"></label>
            </FlexboxLayout>
        </FlexboxLayout>
      </StackLayout>
    </StackLayout>
  </DockLayout>
</ScrollView>
