<ScrollView>
    <DockLayout backgroundColor="#000000">
        <StackLayout>
            <FlexboxLayout class="barraNavegacion2">
                <FlexboxLayout class="InfoUser2">
                <label class="fas" id="flecha_devolver" text="&#xf053;" (tap)="onTap()"></label>
                <label class="Nunito text-medium">Inventario Productos</label>
                </FlexboxLayout>
            </FlexboxLayout>

            <FlexboxLayout flexDirection="column" marginLeft="15" marginRight="15">

                <FlexboxLayout flexDirection="column" justifyContent="space-between" class="cardProducto">                    
                    <FlexboxLayout class="info_producto" flexDirextion="column">
                        <FlexboxLayout class="fotoeinfo">
                            <Image src="~/app/images/coctel3.jpg" class="img_producto"></Image>
                            <FlexboxLayout flexDirection="column">
                                <label class="Cabin" fontSize="18" text="Blue Moon" color="white"></label>
                                <label class="Cabin" fontSize="16" text="Cantidad: 40" color="white"></label>
                            </FlexboxLayout>
                        </FlexboxLayout>
                        <FlexboxLayout class="botones_agregar">
                            <FlexboxLayout class="icon_menos" justifyContent="center">
                                <label text="&#xf304;" class="butonlabelamarillo fas" fontSize="20" fontWeight="bold"></label> 
                            </FlexboxLayout>
                            <FlexboxLayout class="icon_menos" justifyContent="center">
                                <label text="&#xf1f8;" class="butonlabelrojo fas" fontSize="20" fontWeight="bold"></label>
                            </FlexboxLayout>
                        </FlexboxLayout>
                    </FlexboxLayout>
                </FlexboxLayout>

                <FlexboxLayout width="90%">
                    <FlexboxLayout class="rayaIntermedia2" id="rayaIntermedia2"></FlexboxLayout>
                </FlexboxLayout>


                <FlexboxLayout flexDirection="column" justifyContent="space-between" class="cardProducto">                    
                    <FlexboxLayout class="info_producto" flexDirextion="column">
                        <FlexboxLayout class="fotoeinfo">
                            <Image src="~/app/images/coctel1.png" class="img_producto"></Image>
                            <FlexboxLayout flexDirection="column">
                                <label class="Cabin" fontSize="18" text="Red Dragon" color="white"></label>
                                <label class="Cabin" fontSize="16" text="Cantidad: 30" color="white"></label>
                            </FlexboxLayout>
                        </FlexboxLayout>
                        <FlexboxLayout class="botones_agregar">
                            <FlexboxLayout class="icon_menos" justifyContent="center">
                                <label text="&#xf304;" class="butonlabelamarillo fas" fontSize="20" fontWeight="bold"></label> 
                            </FlexboxLayout>
                            <FlexboxLayout class="icon_menos" justifyContent="center">
                                <label text="&#xf1f8;" class="butonlabelrojo fas" fontSize="20" fontWeight="bold"></label>
                            </FlexboxLayout>
                        </FlexboxLayout>
                    </FlexboxLayout>
                </FlexboxLayout>

                <FlexboxLayout width="90%">
                    <FlexboxLayout class="rayaIntermedia2" id="rayaIntermedia2"></FlexboxLayout>
                </FlexboxLayout>

                <FlexboxLayout flexDirection="column" justifyContent="space-between" class="cardProducto">                    
                    <FlexboxLayout class="info_producto" flexDirextion="column">
                        <FlexboxLayout class="fotoeinfo">
                            <Image src="~/app/images/coctel6.jpg" class="img_producto"></Image>
                            <FlexboxLayout flexDirection="column">
                                <label class="Cabin" fontSize="18" text="Flower Power" color="white"></label>
                                <label class="Cabin" fontSize="16" text="Cantidad: 20" color="white"></label>
                            </FlexboxLayout>
                        </FlexboxLayout>
                        <FlexboxLayout class="botones_agregar">
                            <FlexboxLayout class="icon_menos" justifyContent="center">
                                <label text="&#xf304;" class="butonlabelamarillo fas" fontSize="20" fontWeight="bold"></label> 
                            </FlexboxLayout>
                            <FlexboxLayout class="icon_menos" justifyContent="center">
                                <label text="&#xf1f8;" class="butonlabelrojo fas" fontSize="20" fontWeight="bold"></label>
                            </FlexboxLayout>
                        </FlexboxLayout>
                    </FlexboxLayout>
                </FlexboxLayout>

                <FlexboxLayout width="90%">
                    <FlexboxLayout class="rayaIntermedia2" id="rayaIntermedia2"></FlexboxLayout>
                </FlexboxLayout>


                <FlexboxLayout flexDirection="column" justifyContent="space-between" class="cardProducto">                    
                    <FlexboxLayout class="info_producto" flexDirextion="column">
                        <FlexboxLayout class="fotoeinfo">
                            <Image src="~/app/images/tacos.png" class="img_producto"></Image>
                            <FlexboxLayout flexDirection="column">
                                <label class="Cabin" fontSize="18" text="Tacos" color="white"></label>
                                <label class="Cabin" fontSize="16" text="Cantidad: 10" color="white"></label>
                            </FlexboxLayout>
                        </FlexboxLayout>
                        <FlexboxLayout class="botones_agregar">
                            <FlexboxLayout class="icon_menos" justifyContent="center">
                                <label text="&#xf304;" class="butonlabelamarillo fas" fontSize="20" fontWeight="bold"></label> 
                            </FlexboxLayout>
                            <FlexboxLayout class="icon_menos" justifyContent="center">
                                <label text="&#xf1f8;" class="butonlabelrojo fas" fontSize="20" fontWeight="bold"></label>
                            </FlexboxLayout>
                        </FlexboxLayout>
                    </FlexboxLayout>
                </FlexboxLayout>

                <FlexboxLayout width="90%">
                    <FlexboxLayout class="rayaIntermedia2" id="rayaIntermedia2"></FlexboxLayout>
                </FlexboxLayout>

                <FlexboxLayout flexDirection="column" justifyContent="space-between" class="cardProducto">                    
                    <FlexboxLayout class="info_producto" flexDirextion="column">
                        <FlexboxLayout class="fotoeinfo">
                            <Image src="~/app/images/garrafaTapaAzul.jpg" class="img_producto"></Image>
                            <FlexboxLayout class="informacion" flexDirection="column">
                                <label class="Cabin" fontSize="18" text="Garrafa Tapa Azul" color="white"></label>
                                <label class="Cabin" fontSize="16" text="Cantidad: 50" color="white"></label>
                            </FlexboxLayout>
                        </FlexboxLayout>
                        <FlexboxLayout class="botones_agregar">
                            <FlexboxLayout class="icon_menos" justifyContent="center">
                                <label text="&#xf304;" class="butonlabelamarillo fas" fontSize="20" fontWeight="bold"></label> 
                            </FlexboxLayout>
                            <FlexboxLayout class="icon_menos" justifyContent="center">
                                <label text="&#xf1f8;" class="butonlabelrojo fas" fontSize="20" fontWeight="bold"></label>
                            </FlexboxLayout>
                        </FlexboxLayout>
                    </FlexboxLayout>
                </FlexboxLayout>

                <FlexboxLayout width="90%">
                    <FlexboxLayout class="rayaIntermedia2" id="rayaIntermedia2"></FlexboxLayout>
                </FlexboxLayout>

                <FlexboxLayout flexDirection="column" justifyContent="space-between" class="cardProducto">                    
                    <FlexboxLayout class="info_producto" flexDirextion="column">
                        <FlexboxLayout class="fotoeinfo">
                            <Image src="~/app/images/coctel5.png" class="img_producto"></Image>
                            <FlexboxLayout class="informacion" flexDirection="column">
                                <label class="Cabin" fontSize="18" text="Oasis red" color="white"></label>
                                <label class="Cabin" fontSize="16" text="Cantidad: 20" color="white"></label>
                            </FlexboxLayout>
                        </FlexboxLayout>
                        <FlexboxLayout class="botones_agregar">
                            <FlexboxLayout class="icon_menos" justifyContent="center">
                                <label text="&#xf304;" class="butonlabelamarillo fas" fontSize="20" fontWeight="bold"></label> 
                            </FlexboxLayout>
                            <FlexboxLayout class="icon_menos" justifyContent="center">
                                <label text="&#xf1f8;" class="butonlabelrojo fas" fontSize="20" fontWeight="bold"></label>
                            </FlexboxLayout>
                        </FlexboxLayout>
                    </FlexboxLayout>
                </FlexboxLayout>
                

            </FlexboxLayout>
        </StackLayout>
    </DockLayout>
</ScrollView>
