<ScrollView>
  <DockLayout backgroundColor="#000000">
      <StackLayout>
          <FlexboxLayout class="barraNavegacion2">
              <FlexboxLayout class="InfoUser2">
              <label class="fas" id="flecha_devolver" text="&#xf053;" (tap)="onTap()"></label>
              <label class="Nunito text-medium" text="Productos"></label>
              </FlexboxLayout>
          </FlexboxLayout>

          <FlexboxLayout flexWrap="wrap" justifyContent="space-around" marginBottom="30">
            <FlexboxLayout class="cardProductos" flexDirection="column" (tap)="onModalProductos(p)" *ngFor="let p of productos">
              <Image src="{{p.foto}}"></Image>
              <label class="nombre Cabin" text="{{p.nombre}}"></label>
              <label class="precio Cabin" [text]="'$'+formatCurrency(p.precio)"></label>
            </FlexboxLayout>
          </FlexboxLayout>

          <FlexboxLayout marginLeft="20" marginRight="20">
            <FlexboxLayout class="rayaIntermedia2" marginTop="10"></FlexboxLayout>
          </FlexboxLayout>

          <label class="butonlabelrosa Cabin" text="Realizar pedido" (tap)="onRealizarPedido()"></label>
          
      </StackLayout>
  </DockLayout>
</ScrollView>