.formulario{
    margin-top: 50;
    margin-left: 15;
    margin-right: 15;
    justify-content: center;
}
.input-field{
    width: 100%;
}
.input{
    flex-grow: 30;
    margin-right: 70;
}

#rayaIntermedia2 {
    padding: 0 50 0 50;
}
