<ScrollView>
    <DockLayout backgroundColor="#000000">
        <StackLayout>
            <FlexboxLayout class="barraNavegacion2">
                <FlexboxLayout class="InfoUser2">
                <label class="fas" id="flecha_devolver" text="&#xf053;" (tap)="onTap()"></label>
                <label class="Nunito text-medium">Realizar Pedido</label>
                </FlexboxLayout>    
            </FlexboxLayout>

            <FlexboxLayout flexDirection="column" marginLeft="15" marginRight="15">
                <FlexboxLayout class="contenedorMesa">
                    <label class="Cabin mesa" text="{{ mesa }}"></label>
                </FlexboxLayout>
                <FlexboxLayout flexDirection="column" class="infoPedido">
                    <FlexboxLayout justifyContent="center">
                        <label class="Cabin" text="Cliente: {{usuario}}"></label>
                    </FlexboxLayout>
                    <label class="Cabin" text="x2 Blue Moon"></label>
                    <label class="Cabin" text="x1 Flower Power"></label>
                    <label class="Cabin" text="x3 Tacos"></label>
                </FlexboxLayout>
                <FlexboxLayout flexDirection="column">                    
                    <TextView class="Cabin" textWrap="true" v-model="textFieldValue" fontSize="14" hint="Agregar un comentario..."/>
                </FlexboxLayout>

                <label class="butonlabelrosa Cabin" text="Hacer pedido"></label>

                <FlexboxLayout flexDirection="column" justifyContent="space-between" class="cardProductoSeleccionado" *ngFor="let p of productos">                    
                    <FlexboxLayout class="info_producto" flexDirextion="column">
                        <FlexboxLayout class="fotoeinfo">
                            <Image src="{{p.foto}}" class="img_producto"></Image>
                            <FlexboxLayout flexDirection="column">
                                <label class="Cabin" fontSize="18" text="{{p.producto.nombre}}"></label>
                                <label class="Cabin" fontSize="16" text="Precio: {{p.precio}}"></label>
                            </FlexboxLayout>
                        </FlexboxLayout>
                        <FlexboxLayout class="botones_agregar">
                            <FlexboxLayout class="icon_menos" justifyContent="center">
                                <Button class="butonlabelrojo" fontSize="20" fontWeight="bold" text="-"></Button>
                            </FlexboxLayout>
                            <label class="Cabin" fontSize="20" text="2"></label>
                            <FlexboxLayout class="icon_menos" justifyContent="center">
                                <Button class="butonlabelverde" fontSize="20" fontWeight="bold" text="+"></Button>
                            </FlexboxLayout>
                        </FlexboxLayout>
                    </FlexboxLayout>
                </FlexboxLayout>
            </FlexboxLayout>
        </StackLayout>
    </DockLayout>
</ScrollView>
