<ScrollView>
    <DockLayout backgroundColor="#000000">
        <StackLayout>
            <FlexboxLayout class="barraNavegacion2">
                <FlexboxLayout class="InfoUser2">
                <label class="fas" id="flecha_devolver" text="&#xf053;" (tap)="onTap()"></label>
                <label class="Nunito text-medium">Realizar Pedido</label>
                </FlexboxLayout>    
            </FlexboxLayout>

            <FlexboxLayout flexDirection="column" marginLeft="15" marginRight="15">
                <FlexboxLayout class="contenedorMesa">
                    <label class="Cabin mesa" text="{{ mesa }}"></label>
                </FlexboxLayout>
                <FlexboxLayout flexDirection="column" class="infoPedido">
                    <FlexboxLayout justifyContent="center" marginBottom="10">
                        <label *ngIf="usuario.rol == 4" class="Cabin" whiteSpace="normal" fontSize="16" text="Cliente: {{usuario.nombre}}"></label>
                        <label *ngIf="usuario.rol == 3" class="Cabin" whiteSpace="normal" fontSize="16" text="Mesero: {{usuario.nombre}}"></label>
                    </FlexboxLayout>
                    <FlexboxLayout *ngFor="let producto of productosSeleccionados" display="flex" justifyContent="space-between">
                        <label class="Cabin" whiteSpace="normal" [text]="'x' + producto.cantidad + ' ' + producto.nombre"></label>
                        <label class="Cabin" whiteSpace="normal" [text]="'$'+formatCurrency(producto.subtotal)"></label>
                    </FlexboxLayout>

                    <FlexboxLayout *ngIf="productosSeleccionados.length > 0" justifyContent="flex-end" marginTop="10">
                        <label class="Cabin" whiteSpace="normal" fontSize="16" [text]="'Total: $'+formatCurrency(total)"></label>
                    </FlexboxLayout>
                </FlexboxLayout>
                <FlexboxLayout flexDirection="column">                    
                    <TextView class="Cabin" textWrap="true" v-model="textFieldValue" fontSize="14" (textChange)="onCommentChange($event)" hint="Agrega un comentario..."/>
                </FlexboxLayout>

                <label class="butonlabelrosa Cabin" [class.disabled]="productosSeleccionados.length == 0" (tap)="onHacerPedido()" text="Hacer pedido"></label>

                <FlexboxLayout flexDirection="column" justifyContent="space-between" class="cardProducto" *ngFor="let p of productos"
                [ngClass]="{'cardProductoSeleccionado': p.cantidad > 0}">               
                    <FlexboxLayout class="info_producto" flexDirextion="column">
                        <FlexboxLayout class="fotoeinfo">
                            <Image src="{{p.foto}}" class="img_producto" ></Image>
                            <FlexboxLayout flexDirection="column">
                                <label class="Cabin" whiteSpace="normal" fontWeight="bold" fontSize="16" text="{{p.nombre}}"></label>
                                <label class="Cabin" whiteSpace="normal" [text]="'$' + formatCurrency(p.precio)"></label>
                            </FlexboxLayout>
                        </FlexboxLayout>
                        <FlexboxLayout class="botones_agregar">
                            <FlexboxLayout justifyContent="center" width="20" height="5">
                                <Button class="masymenos" text="-" (tap)="decrementarCantidad(p)" [ngClass]="{'masymenosSelected': p.cantidad > 0}"></Button>
                            </FlexboxLayout>
                            <label class="Cabin" fontSize="16" fontWeight="bold" text="{{p.cantidad}}"></label>
                            <FlexboxLayout justifyContent="center" width="20" height="5">
                                <Button class="masymenos" text="+" (tap)="incrementarCantidad(p)" [ngClass]="{'masymenosSelected': p.cantidad > 0}"></Button>
                            </FlexboxLayout>
                        </FlexboxLayout>
                    </FlexboxLayout>
                </FlexboxLayout>
            </FlexboxLayout>
        </StackLayout>
    </DockLayout>
</ScrollView>
