<ScrollView>
    <StackLayout backgroundColor="#000000">
        <FlexboxLayout class="barraNavegacion2">
            <FlexboxLayout class="InfoUser2">
            <label class="fas" id="flecha_devolver" text="&#xf053;" (tap)="onTap()"></label>
            <label class="Nunito text-medium">Mesas a cargo</label>
            </FlexboxLayout>
        </FlexboxLayout>      
        <StackLayout margiBottom="10">
            <FlexboxLayout class="cardMesa" marginLeft="15" marginRight="15" flexDirection="column" *ngFor="let m of mesas">
                <FlexboxLayout class="headCardMesa">
                    <label class="Cabin titulo" text="{{m.nombre}}"></label>
                    <label *ngIf="m.usuario && m.usuario.rol == 3" class="Cabin" fontSize="14" text="💁‍♂️ {{m.usuario.nombre}}"></label>
                </FlexboxLayout>
                <FlexboxLayout class="botonvermas">
                    <label *ngIf="m.estado == 'Activa'" class="butonlabelrosa Cabin" text="Ver" [nsRouterLink]="['detalles', m.codigo_qr]"></label>
                </FlexboxLayout>
            </FlexboxLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>
