.modal {
    padding: 20px;
  }
  
  .modal-title {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .modal-entrada{
    font-size: 14; 
    font-weight: bold;
    margin-top: 10;
    background-color: rgb(78, 78, 78);
    padding: 10;
    border-radius: 20;
  }
  
  .btn-confirmar {
    background-color: #fc4664;
    color: white;
  }
  
  .btn-cancelar {
    background-color: #000000;
    color: white;
  }