<ScrollView>
    <StackLayout backgroundColor="#000000">
        <FlexboxLayout class="barraNavegacion2">
            <FlexboxLayout class="InfoUser2">
                <label class="fas" id="flecha_devolver" text="&#xf053;" (tap)="onTap()"></label>
                <label class="Nunito text-medium">Entradas</label>
            </FlexboxLayout>
        </FlexboxLayout>
        
        <StackLayout *ngIf="!hayEntradas">
            <FlexboxLayout display="flex" flexDirection="column" justifyContent="center" alignItems="center">
                <label class="Cabin grisColor" fontSize="16" marginLeft="15" marginRight="15" text="No tienes entradas compradas."></label>
                <label class="butonlabelrosa Cabin" text="Comprar entradas" (tap)="onComprarEntradas()"></label>
            </FlexboxLayout>
        </StackLayout>


        <StackLayout *ngIf="hayEntradas">
            <StackLayout margiBottom="10">
                <FlexboxLayout class="cardEventos" marginLeft="15" marginRight="15" flexDirection="column" *ngFor="let entrada of entradas">
                    <FlexboxLayout class="Imagen_Evento">
                        <Image [src]="getFullImageUrl(entrada.evento.foto)" borderRadius="10"></Image>
                    </FlexboxLayout>
                    
                    <FlexboxLayout class="Info" display="flex" flexDirection="column" alignItems="center">
                        <label class="Cabin titulo" [text]="entrada.evento.nombre"></label>
                        <FlexboxLayout>
                            <label class="far" id="calendario" text="&#xf133;"></label>
                            <label class="Cabin fecha" [text]="entrada.evento.fecha"></label>
                        </FlexboxLayout>
                    </FlexboxLayout> 
                    
                    <FlexboxLayout class="rayaIntermedia2"></FlexboxLayout>

                    <FlexboxLayout class="contenedor-entradas">
                        <FlexboxLayout class="entrada" *ngIf="entrada.entrada.entrada_general > 0">
                            <label class="Cabin" [text]="'x' + entrada.entrada.entrada_general + ' Entrada General'"></label>
                        </FlexboxLayout>
                        <FlexboxLayout class="entrada" *ngIf="entrada.entrada.entrada_vip > 0">
                            <label class="Cabin" [text]="'x' + entrada.entrada.entrada_vip + ' Entrada General'"></label>
                        </FlexboxLayout>
                    </FlexboxLayout>
                                    
                    <FlexboxLayout class="botonvermas">
                        <label class="butonlabelrosa Cabin" text="Ver más" [nsRouterLink]="['detalles', entrada.entrada.id]"></label>
                    </FlexboxLayout>
                </FlexboxLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>